*/out.txt
*/outputs
*/outputs/*
*.swp
*.pyc
*.DS_Store
src/*expts/*
tmp/
models/dataset/binary_mnist/*
models/dataset/higgs/*
models/dataset/covtype/*
models/dataset/fashion/*
models/dataset/ori_mnist/*
models/dataset/senseless/*
outputs/*
calpredict.py
experiments/daily.csv
res.pkl
experiments/daily_breast_cancer_unrobust.csv
models/dataset/breast_cancer/*
models/dataset/cod-rna/*
models/archive/*