bcc==0.29.1
cloud-init
command-not-found
configobj
dbus-python
distro-info
launchpadlib
lazr.restfulclient
lazr.uri
netaddr
netifaces
pyserial
python-apt
python-debian
python-magic
sos
ssh-import-id
systemd-python
ubuntu-pro-client
ufw
unattended-upgrades
